.container {
    height: 500px;
    margin: auto;
    width: 400px;
    padding: 50px;
}
input, button, p {
    padding: 20px;
    margin: 20px;
    
}
button {
    align-items:center;
    margin-left: 10%;
    background-color: grey;
    color: black;
    
    border-radius: 10px;
    display: inline-block;
}
button:hover {
    background-color: black;
    color: azure;
}
input {
    text-align: center;
    border: 2px black solid;
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-left: 23%;
    border-radius: 10px;
}
h2 {
    color: green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
    text-align: center;
}
.input_data {
    margin: auto;
    border: 1px black solid;
    background-color: rgb(241, 241, 169);
    height: 200px;
    width: 400px;
    border-radius: 10px;
}
ul {
    margin: auto;
    border: 1px black solid;
    background-color: rgb(255, 182, 255);
    height: 200px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
}
li {
    border: 1px black solid;
    background-color: white;
    margin-left: 30px;
    overflow: visible;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
}
span{
    margin-left: 20px;
    opacity: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 500;
    cursor: context-menu;
}
li:hover {
    background-color: grey;
    color: white;
}
